<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmls:th="http://thymeleaf.org">
    <head>
        <title>Módulo Comentario</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script text="text/javascript" th:src="@{/js/listados.js}"></script>
        <link rel="stylesheet" type="text/css" href="/CSS/ADMIN_STYLES.css"> 
    </head>
    <body>
        <div class="encabezado">
        <a href="/usuarios/menuPrincipal" class="boton-volver">
        <img src="/img/LOGO.png" alt="Volver" width="95" height="80">
        </a>
        <h3 class="listado-titulo">Administrar comentarios</h3>
        </div>
        
        <div>
            <form method="get" th:action="@{/comentariosArticulo/buscar}" enctype="multipart/form-data">
                <input type="text" name="nombre" placeholder="Ingrese el nombre del usuario" required>
                <input type="hidden" name="idArticulo" th:value="${articulo.idArticulo}">
                <button type="submit">Buscar</button>
            </form>
        </div>
        <div>
            <table class="table table-bordered">
                <tr>
                    <th>Usuario</th> 
                    <th>Fecha</th>
                    <th>Etiquetas</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr th:each="comentario:${paginaComentarios.content}">
                    <td th:text="${comentario.nombreUsuario}"></td>
                    <td th:text="${comentario.fecha}"></td>
                    <td th:text="${comentario.etiquetas}"></td>
                    <td><a class="editar-button" th:href="@{'/comentariosArticulo/actualizar?codigo=' + ${comentario.codigo}}" th:text="'Editar'"></a></td>
                    <td><a class="eliminar-button" href="#" th:data-codigo-articulo="${comentario.articulo.idArticulo}" th:data-codigo="${comentario.codigo}">Eliminar</a></td>
                    <td><a class="ver-detalles"href="#" th:attr="onclick='cargarDetallesComentarioArticulo(\'' + ${comentario.codigo} + '\')'">Ver Detalles</a></td>
                </tr>
            </table>
            
            <div class="pagination-container"> 
                <p>
                    Mostrando <span th:text="${paginaComentarios.size}"></span> de <span th:text="${paginaComentarios.totalElements}"></span> comentarios
                </p>
                <nav aria-label="Page navigation" class="d-flex justify-content-between"> 
                    <ul class="pagination mb-0">
                        
                        <li class="page-item" th:classappend="${paginaComentarios.first} ? 'disabled': ''">
                            <a class="page-link" th:href="@{(${nombre} != null) ? '/comentariosArticulo/buscar?nombre=' + ${nombre} + '&idArticulo=' + ${articulo.identificador} + '&page=0&size=' + ${paginaComentarios.size} : '?idArticulo=' + ${articulo.identificador} + '&page=0&size=' + ${paginaComentarios.size}}">Primera</a>
                        </li>
                        
                        <li class="page-item" th:classappend="${paginaComentarios.first} ? 'disabled': ''">
                            <a class="page-link" th:with="prevPag=${paginaComentarios.number-1}"
                               th:href="@{(${nombre} != null) ? '/comentariosArticulo/buscar?nombre=' + ${nombre} + '&idArticulo=' + ${articulo.identificador} + '&page=' + ${prevPag} + '&size=' + ${paginaComentarios.size} : '?idArticulo=' + ${articulo.identificador} + '&page=' + ${prevPag} + '&size=' + ${paginaComentarios.size}}">Anterior</a>
                        </li>
                        
                        <li class="page-item" th:each="i : ${numPaginas}" 
                            th:classappend="${i == paginaComentarios.number + 1} ? 'active' : ''">
                            <a class="page-link" th:with="pagNum=${i-1}"
                                th:href="@{(${nombre} != null) ? '/comentariosArticulo/buscar?nombre=' + ${nombre} + '&idArticulo=' + ${articulo.identificador} + '&page=' + ${pagNum} + '&size=' + ${paginaComentarios.size} : '?idArticulo=' + ${articulo.identificador} + '&page=' + ${pagNum} + '&size=' + ${paginaComentarios.size}}" th:text="${i}"></a>
                        </li>
                        
                        <li class="page-item" th:classappend="${paginaComentarios.last} ? 'disabled': ''">
                            <a class="page-link" th:with="sigPag=${paginaComentarios.number+1}"
                               th:href="@{(${nombre} != null) ? '/comentariosArticulo/buscar?nombre=' + ${nombre} + '&idArticulo=' + ${articulo.identificador} + '&page=' + ${sigPag} + '&size=' + ${paginaComentarios.size} : '?idArticulo=' + ${articulo.identificador} + '&page=' + ${sigPag} + '&size=' + ${paginaComentarios.size}}">Siguiente</a>
                        </li>
                        
                        <li class="page-item" th:classappend="${paginaComentarios.last} ? 'disabled': ''">
                            <a class="page-link" th:with="ultPag=${paginaComentarios.totalPages-1}"
                               th:href="@{(${nombre} != null) ? '/comentariosArticulo/buscar?nombre=' + ${nombre} + '&idArticulo=' + ${articulo.identificador} + '&page=' + ${ultPag} + '&size=' + ${paginaComentarios.size} : '?idArticulo=' + ${articulo.identificador} + '&page=' + ${ultPag} + '&size=' + ${paginaComentarios.size}}">Última</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        
        <div id="verDetalles"></div>
        
        <script>
        document.addEventListener('DOMContentLoaded', function () {
        var buttons = document.querySelectorAll('.eliminar-button');

        buttons.forEach(function (button) {
            button.addEventListener('click', function (event) {
                event.preventDefault();

                // Assuming comentario object is available in the context
                var codigoArticulo = this.getAttribute('data-codigo-articulo');
                var codigo = this.getAttribute('data-codigo');

                if (confirm("¿Está seguro de que desea eliminar este comentario?")) {
                    // Adjust the URL to pass both codigoLugar and codigoComentario
                    window.location.href = '/comentariosArticulo/eliminar?idArticulo=' + codigoArticulo + '&codigo=' + codigo;
                }
              });
           });
         });
            
            function cambiarPagTam(){
                const pageSize = document.getElementById("pageSize").value;
                const currentPage = [[${paginaComentarios.number}]];

                // Verificar si el nombre existe
                const nombre = "[[${nombre}]]";
                const articulo = "[[${articulo}]]";
                let url = "";
                if (nombre.trim() !== "") {
                    url = "/comentariosArticulo/consulta_buscar?nombre=" + nombre + "&page=" + currentPage + "&size=" + pageSize;
                } else {
                    url = "?articulo=" + lugar + "?page=" + currentPage + "&size=" + pageSize;
                }

                window.location.href = url;
            }
        </script>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@bootstrap@4.5.2/dist/js/bootstrap.min.js"> </script>
        <div class="alert alert-success" th:if="${exito!=null}" th:text="${exito}"></div>
        <div class="alert alert-error" th:if="${error!=null}" th:text="${error}"></div>
       
    </body>
</html>
