<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Actualizar Evento Turístico</title>
    <link href="/CSS/actualizarStyle.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<a href="/" class="btn">
    <img src="/CSS/LOGO.png" alt="Volver al Inicio" style="width: 100px; height: 70px;">
</a>
    <h2>Actualizar Evento Turístico</h2>
    <form action="/eventos/actualizar-evento" method="post">
        
        <label for="idEvento" class="hidden">idEvento</label><br>
        <input type="text" id="idEvento" name="idEvento" th:value="${evento.id}" class="hidden" />
        
        <label for="codigo">Código:</label><br>
        <input type="text" id="codigo" name="codigo" th:value="${evento.codigo}"><br>
        
        <label for="nombreEvento">Nombre del evento:</label><br>
        <input type="text" id="nombreEvento" name="nombreEvento" th:value="${evento.nombreEvento}"><br>

        <label for="descripcion">Descripción:</label><br>
        <input type="text" id="descripcion" name="descripcion" th:value="${evento.descripcion}"><br>

        <label for="nombreAutor">Nombre del organizador:</label><br>
        <input type="text" id="nombreAutor" name="nombreAutor" th:value="${evento.nombreAutor}"><br>

        <label for="fecha">Fecha del evento:</label><br>
        <input type="date" id="fecha" name="fecha" th:value="${evento.fecha}"><br>

        <label for="ubicacion">Ubicación:</label><br>
        <input type="text" id="ubicacion" name="ubicacion" th:value="${evento.ubicacion}"><br>

        <label for="titulo">Título del evento:</label><br>
        <input type="text" id="titulo" name="titulo" th:value="${evento.titulo}"><br>

        <label for="horaInicial">Hora inicial:</label><br>
        <input type="time" id="horaInicial" name="horaInicial" th:value="${evento.horaInicial}"><br>

        <label for="horaFinal">Hora final:</label><br>
        <input type="time" id="horaFinal" name="horaFinal" th:value="${evento.horaFinal}"><br>

        <label for="etiquetasAsociadas">Etiquetas asociadas (separadas por comas):</label><br>
        <input type="text" id="etiquetasAsociadas" name="etiquetasAsociadas" th:value="${evento.etiquetasAsociadas}"><br>

        <input type="submit" value="Actualizar">
    </form>
</body>
</html>
