<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<title>Gestión de Eventos Turísticos</title>
<link href="/CSS/administrarStyle.css" rel="stylesheet" type="text/css"/>
<script>
function seleccionarFila() {
    var tabla = document.getElementById("tablaEventos");
    var filas = tabla.getElementsByTagName("tr");
    for (var i = 1; i < filas.length; i++) { // Comienza en 1 para omitir la fila del encabezado
        filas[i].onclick = function() {
            // Remover la clase 'selected' de todas las filas
            for (var j = 0; j < filas.length; j++) {
                filas[j].classList.remove("selected");
            }
            // Agregar la clase 'selected' a la fila clickeada
            this.classList.add("selected");
            // Obtener el ID sin espacios ni etiquetas HTML
            var idEvento = this.cells[0].textContent.trim();
             console.log("ID Evento seleccionado:", idEvento); 
            // Actualizar el formulario de acción de actualizar con el id del evento seleccionado
            document.getElementById("actualizarForm").action = '/eventos/actualizar/' + idEvento;

            // Habilitar los botones
            document.getElementById("btnEliminar").disabled = false;
            document.getElementById("btnActualizar").disabled = false;

            // Actualizar el campo oculto para eliminación
            document.getElementById("idEliminar").value = idEvento;
        };
    }
}

window.onload = function() {
    seleccionarFila();
};
</script>

<style>
.selected {
    background-color: #f0f0f0;
}
</style>
</head>
<body>
<h2>Gestión de Eventos Turísticos</h2>
<a href="/eventos/agregar" class="create-button">Crear Evento</a>
<table id="tablaEventos" border="1">
    <thead>
        <tr>
            <th class="invisible">ID</th>
            <th>Código</th>
            <th>Nombre del Evento</th>
            <th>Fecha</th>
            <th>Ubicación</th>
            <th>Organizador</th>
        </tr>
    </thead>
    <tbody th:each="evento : ${eventos}">
        <tr>
            <td class="invisible" th:text="${evento.id}"></td>
            <td th:text="${evento.codigo}"></td>
            <td th:text="${evento.nombreEvento}"></td>
            <td th:text="${#dates.format(evento.fecha, 'dd/MM/yyyy')}"></td>
            <td th:text="${evento.ubicacion}"></td>
            <td th:text="${evento.nombreAutor}"></td>
        </tr>
    </tbody>
</table>
<br>
<form action="/eventos/eliminar-evento" method="post">
    <input type="hidden" name="idEvento" id="idEliminar" value=""/>
    <input type="submit" value="Eliminar" id="btnEliminar" disabled/>
</form>

<form id="actualizarForm" action="" method="get">
    <input type="submit" value="Actualizar" id="btnActualizar" disabled/>
</form>
</body>
</html>
