<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Escribir Evento Turístico</title>
    <link href="/CSS/Registrar_Form.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <h2>Escribir un nuevo evento turístico</h2>
    <a href="/eventoTuristico/listarAdmin" class="boton-volver">
    <img src="/img/volver.png" alt="Volver" width="20" height="20">
    </a>    
    
    <a href="/usuarios/menuPrincipal" class="boton-volver">
    <img src="/img/home.png" alt="Volver" width="20" height="20">
    </a>
<div class="container">
    <div>
    <form action="/eventoTuristico/guardar-eventoTuristico" method="post" onsubmit="return validarFecha()">

        <label for="codigo">Código:</label><br>
        <input type="text" id="codigo" name="codigo" required><br>
        
        <label for="nombreEvento">Nombre del Evento:</label><br>
        <input type="text" id="nombreEvento" name="nombreEvento" required><br>
        
        <label for="descripcion">Descripción:</label><br>
        <input type="text" id="descripcion" name="descripcion" required><br>
        
        <label for="fecha">Fecha:</label><br>
        <input type="date" id="fecha" name="fecha" required><br>
        <script>
            var fechaActual = new Date().toISOString().split('T')[0];

            document.getElementById('fecha').setAttribute('min', fechaActual);

            function validarFecha() {
                var fechaSeleccionada = document.getElementById('fecha').value;
                if (fechaSeleccionada >= fechaActual) {
                    alert('La fecha seleccionada debe ser despues a la fecha actual.');
                    document.getElementById('fecha').value = '';
                    return false;
                }
                return true;
            }

            document.querySelector('form').addEventListener('submit', function(event) {
                if (!validarFecha()) {
                    event.preventDefault(); 
                }
            });
        </script>
        
        <label for="lugar">Lugar:</label><br>
        <select id="lugar" name="lugar">
            <option th:each="lugar : ${lugar}" th:value="${lugar.codigo}" th:text="${lugar.nombre}">Lugar</option>
        </select><br>

        <label for="titulo">Título:</label><br>
        <input type="text" id="titulo" name="titulo" required><br>

        <label for="nombreAutor">Nombre del autor:</label><br>
        <input type="text" id="nombreAutor" name="nombreAutor" pattern="[A-Za-zÁÉÍÓÚáéíóúñÑ\s]+" title="Por favor, ingresa solo letras" required><br>

        <label for="horaInicial">Hora Inicial:</label><br>
        <input type="time" id="horaInicial" name="horaInicial" required><br>

        <label for="horaFinal">Hora Final:</label><br>
        <input type="time" id="horaFinal" name="horaFinal" required><br>

        <input type="submit" value="Guardar">
    </form>
   </div>
</div>
    
   <div class="alert alert-success" th:if="${exito!=null}" th:text="${exito}"></div>
   <div class="alert alert-error" th:if="${error!=null}" th:text="${error}"></div>

<script>
    function validarFecha() {
        var fechaSeleccionada = new Date(document.getElementById('fecha').value);
        var hoy = new Date();
        hoy.setHours(0, 0, 0, 0); // Establece la hora a 00:00:00:000 para comparar solo las fechas
        if (fechaSeleccionada < hoy) {
            alert('La fecha seleccionada debe ser hoy o una fecha futura.');
            return false;
        }
        return true;
    }
</script>
</body>
</html>
