<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/CSS/ADMIN_STYLES.css">
</head>
<body>
    <h1>Lista de usuarios</h1>
    <div class="container mt-4">
        <h1>Datos de personas</h1>
        <table class="table table-bordered">
        <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Cédula</th>
                    <th>Nombre de Usuario</th>
                    <th>Tipo de Usuario</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>Fecha de Nacimiento</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="usuario : ${page.content}">
                    <td th:text="${usuario.nombre}"></td>
                    <td th:text="${usuario.apellido}"></td>
                    <td th:text="${usuario.cedula}"></td>
                    <td th:text="${usuario.nombreUsuario}"></td>
                    <td th:text="${usuario.tipoUsuario}"></td>
                    <td th:text="${usuario.correo}"></td>
                    <td th:text="${usuario.telefono}"></td>
                    <td th:text="${#dates.format(usuario.fechaNacimiento, 'dd-MM-yyyy')}"></td>
                    <td><a class="editar-button" th:href="@{'/usuarios/buscarUsuario?cedula=' + ${usuario.cedula}}" th:text="'Editar'"></a></td>
                    <td><a class="eliminar-button"th:href="@{'/usuarios/eliminar?cedula=' + ${usuario.cedula}}" th:text="'Eliminar'"></a></td>
                    <td><a class="ver-detalles" href="#" th:attr="onclick='cargarDetallesUsuario(\'' + ${usuario.cedula} + '\')'" th:text="'Ver detalles'"></a></td>
                </tr>
            </tbody>
        </table>
        <div class="pagination-container">
        <p>
         Mostrando <span th:text="${page.size}"></span> de <span th:text="${page.totalElements}"></span> registros 
        </p>
       
			<div>
				<select id="pageSize" name="size" class="form-control" onchange="cambiarPagTam()">
					<option th:each="size : ${pageSizeOptions}" th:value="${size}"
						th:text="${size}" th:selected="${page.size == size}"></option>
				</select>
			</div>
			<ul class="pagination mb-0">
				<li class="page-item"
					th:classappend="${page.first} ? 'disabled' : ''"><a
					class="page-link" th:href="@{'?page=0&size=' + ${page.size}}">Primera</a>
				</li>
				
				<li class="page-item"
					th:classappend="${page.first} ? 'disabled' : ''"><a
					class="page-link" th:with="prevPage=${page.number - 1}"
					th:href="@{'?page=' + ${prevPage} + '&size=' + ${page.size}}">Ant</a>
				</li>
				
				<li class="page-item" th:each="i : ${pageNumbers}"
					th:classappend="${i == page.number + 1} ? 'active' : ''"><a
					class="page-link" th:with="pageNum=${i - 1}"
					th:href="@{'?page=' + ${pageNum} + '&size=' + ${page.size}}"
					th:text="${i}"></a>
				</li>
				
				<li class="page-item"
					th:classappend="${page.last} ? 'disabled' : ''"><a
					class="page-link" th:with="nextPage=${page.number + 1}"
					th:href="@{'?page=' + ${nextPage} + '&size=' + ${page.size}}">Sig</a>
					
				<li class="page-item"
					th:classappend="${page.last} ? 'disabled' : ''"><a
					class="page-link" th:with="lastPage=${page.totalPages - 1}"
					th:href="@{'?page=' + ${lastPage} + '&size=' + ${page.size}}">Última</a>
				</li>
				
			</ul>
        
	</div>
	<script>
        function cambiarPagTam(){
            const pageSize = document.getElementById("pageSize").value;
            const currentPage = [[${page.number}]];

            // Verificar si el nombre existe
            const cedula = "[[${cedula}]]";
            let url = "";
            if (titulo.trim() !== "") {
                url = "/usuarios/buscarUsuario?cedula=" + cedula + "&page=" + currentPage + "&size=" + pageSize;
            } else {
                url = "?page=" + currentPage + "&size=" + pageSize;
            }

            window.location.href = url;
        }

	</script>
	<!-- Añadir los scripts de Bootstrap 4 -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>

    
</body>
        <div class="alert alert-success" th:if="${exito!=null}" th:text="${exito}"></div>
</html>
