<!DOCTYPE html>
<html xmls:th="http://thymeleaf.org">
    <head>
        <title>Descubre CR</title>
        <link href="/CSS/Registrar_Form.css" rel="stylesheet" type="text/css"/>
        
    </head>
    <body>
        <div th:if="${success != null}" th:text="${success}"></div>
        <div th:if="${error != null}" th:text="${error}"></div>
        <header>
            <h2 id="titulo">Creación de álbum</h2>
            <p>Crea y comparte un álbum con lo mejor de tus experiencias.</p>
        </header>
          
<div class="container">
    <div>   
            <form th:action="@{/albums/guardar}" method="POST" enctype="multipart/form-data">
                <div>
                    <p><strong>Acerca del autor</strong></p>
                    <label for="nombreAutor">Nombre de Autor:</label>
                    <input type="text" id="nombreAutor" name="nombreAutor" placeholder="Autor del collage" required minlength="2" maxlength="12"/><br>
                    <p>Selecione su provincia de procedencia:</p>
                    <label><strong>Provincia:</strong></label><br>
                    <select id="provincia" name="provincia">
                        <option value="1" selected>Alajuela</option>
                        <option value="2">Heredia</option>
                        <option value="3">Cartago</option>
                        <option value="4">San José</option>
                        <option value="5">Puntarenas</option>
                        <option value="6">Limón</option>
                        <option value="7">Guanacaste</option>
                    </select>                    
                </div>
                <div>
                    <p><strong>Acerca del lugar</strong></p>
                    <label for="nombreLugar">Nombre del lugar:</label>
                    <input type="text" id="nombreLugar" name="nombreLugar" placeholder="Lugar turístico" required minlength="3" /><br>
                    <label for="descripcion">Descripcion del lugar</label><br>
                    <textarea cols="60" rows="3" id="descripcion" name="descripcion" placeholder="Un pacífico lugar..." required minlength="10" maxlength="255"></textarea><br>  
                    <p>Digita las #etiquetas que te gustaría asociar con tu collage</p>
                    <textarea cols="60" rows="2" id="etiquetas" name="etiquetas" placeholder="#naturaleza #mar #volcán #spa #familiar..." required minlength="4" maxlength="100"></textarea><br>
                
                <!-- Aquí viene la parte de las imágenes asociadas 
                -->
                    <label for="imagenes">Por favor seleccione las imágenes que desea agregar a su álbum.</label><br>
                    <input type="file" id="imagenes" name="imagenes" accept="image/png,image/jpeg" multiple="multiple" required/>
                    <input type="submit" name="guardar" value="Aceptar">
                    <input type="button" name="volver" value="Volver" onclick="regresarListar()">
                </div>
            </form>
    </div>
</div>
       <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
       <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
       <script type="text/javascript" th:src="@{/js/funcionesAlbum.js}"></script>
    </body>
</html>