<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Actualizar Artículo</title>
    <link href="/CSS/Registrar_Form.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<h2>Actualizar Artículo</h2> 
    
    <a href="/articulos/listarAdmin" class="boton-volver">
    <img src="/img/volver.png" alt="Volver" width="20" height="20">
    </a>    
    
    <a href="/usuarios/menuPrincipal" class="boton-volver">
     <img src="/img/home.png" alt="Volver" width="20" height="20">
    </a>
 <div class="container">
    <div>    
    <form action="/articulos/actualizar-articulo" method="post">
         
        <input type="hidden" id="idArticulo" th:field="${articulo.idArticulo}" /><br>
           
        <label for="identificador">Identificador</label><br>
        <input type="text" id="identificador" th:field="${articulo.identificador}"><br>
        
        <label for="titulo">Título:</label><br>
        <input type="text" id="titulo" th:field="${articulo.titulo}"><br>

        <label for="tema">Tema:</label><br>
        <input type="text" id="tema" th:field="${articulo.tema}"><br>
        
        <label for="descripcion">Descripción</label><br>
        <input type="text" id="descripcion" th:field="${articulo.descripcion}"><br>

        <label for="nombreAutor">Nombre del autor:</label><br>
        <input type="text" id="nombreAutor" th:field="${articulo.nombreAutor}"><br>

        <label for="fecha">Fecha:</label><br>
        <input type="date" id="fecha" th:value="${articulo.fecha}" name="fecha"><br>

        <label for="acercaDelAutor">Acerca del autor:</label><br>
        <textarea id="acercaDelAutor" th:field="${articulo.acercaDelAutor}" rows="4" cols="50"></textarea><br>
 
        <label for="textoArticulo">Texto del artículo:</label><br>
        <textarea id="textoArticulo" th:field="${articulo.textoArticulo}" rows="10" cols="50"></textarea><br>

        <input type="submit" value="Actualizar">
    </form>
    </div>
 </div>
</body>
</html>