/* Estilos para el contenedor principal */
.info-container {
    font-family: "SF Pro Text", sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el encabezado */
.info-encabezado {
    font-family: "SF Pro Text", sans-serif;
    margin-bottom: 20px;
}

.info-encabezado h4 {
    font-family: "SF Pro Text", sans-serif;
    font-size: 24px;
    margin: 0;
    color: #333;
}

.info-encabezado p {
    color: #666
}

/* Estilos para el cuerpo del artículo */
.info-body p {
    margin: 0;
    margin-bottom: 10px;
    color: #333;
    font-family: "SF Pro Text", sans-serif;

}

.info-body strong {
    color: #155724;
}

/* Estilos para la sección de comentarios */
.comentarios-container {
    font-family: "SF Pro Text", sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
}
