    body {
        font-family: "SF Pro Text", sans-serif;
        background-color: #ffffff;
        margin: 0;
    }

    .navbar ul {
      list-style-type: none; /* Elimina las viñetas */
      margin: 0; /* Elimina el margin por defecto */
      padding: 0; /* Elimina el padding por defecto */
      overflow: hidden; /* Asegura que nada se desborde de la barra de navegación */
      background-color: #333; /* Color de fondo para la barra de navegación */
      font-family: "SF Pro Text", sans-serif;
      display: flex; /* Usa flexbox para centrar el contenido */
      justify-content: center; /* Centra horizontalmente */
    }

    .navbar li {
      float: left; /* Esto hará que los elementos de la lista se alineen horizontalmente */
      position: relative; /* Permite posicionar los submenús relativos a los elementos padre */
      background-color: #333
    }

    .navbar a {
      display: block; /* Esto hará que los enlaces llenen el espacio del elemento <li> */
      color: white; /* Color del texto de los enlaces */
      text-align: center; /* Alinea el texto de los enlaces al centro */
      padding: 14px 20px; /* Espaciado alrededor de los enlaces */
      text-decoration: none; /* Elimina el subrayado de los enlaces */
    }

    .navbar a:hover {
      background-color: #155724; /* Color de fondo para los enlaces al pasar el mouse */
    }
 
    .navbar ul ul {
        display: none;
    }

    .navbar ul li:hover > ul {
        display: block;
    }
    
    .navbar a.active {
        background-color: #ffffff;
    }
    
    
    body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}
.container {
    max-width: 1200px;
}
.catalogo-titulo {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.catalogo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}
.lugar {
    background-color: #f0f0f0; /* Blanco */
    width: 300px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.lugar img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}
.info {
    padding-bottom:15px;
    padding-left: 10px;
}
#categoria {
    background-color: #155724
    ; 
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0; /* Elimina el espacio inferior */
}
.categoria-container {
    margin-bottom: 5px; /* Espacio entre la categoría y la imagen */
}
.info h4 {
    margin-top: 15px; /* Aumenta el espacio entre la categoría y el título */
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    font-size: 1.4em; /* Aumenta el tamaño del título */
    color: #333;
}
.info a {
    color: #ff6900;
    text-decoration: none;
    font-weight: bold;
}
.info a:hover {
    text-decoration: underline;
}
.buscador{
    margin-bottom: 20px; /* Espacio entre el formulario y el resto del contenido */
    text-align: right; /* Alinear el contenido del formulario a la derecha */
    padding-right:20px;
}
input[type="text"] {
    width: 300px; 
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

input[type="submit"] {
    padding: 8px 20px; 
    background-color: #155724
    ; /* Color de fondo del botÃ³n */
    color: #fff; 
    border: none; /* Borde */
    border-radius: 4px; /* Borde redondeado */
    cursor: pointer; /* Cursor al pasar el ratÃ³n */
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #000;
}
input[type="submit"]:hover {
    background-color: #4cae4c; /* Cambiar color de fondo al pasar el ratÃ³n */
}
.pagination-container {
    text-align: center;
    padding-bottom:20px;
}
.pagination-select{
    margin-bottom:20px;
}
.pagination {
    margin-top: 20px;
}
.page-link {
    color: #000; /* Negro */
}
.page-link:hover {
    color: #155724; /* Verde claro al pasar el mouse */
}
.pagination {
    display: inline-block; /* Permite que los elementos de paginaciÃ³n estÃ©n en lÃ­nea */
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.pagination li {
    display: inline;
    margin-right: 5px; /* Espacio entre los elementos de paginaciÃ³n */
}
.pagination li a {
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #000;
}
.pagination li.active a {
    background-color: #155724;
    color: #fff;
}
.pagination li a:hover {
    background-color: #155724;
    color: #fff;
}