body {
    font-family: "SF Pro Text", sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

h2 {
    color: #333;
}

.article-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.article-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.article-info {
    color: #666;
    margin-bottom: 10px;
}

.article-text {
    line-height: 1.5;
    color: #333;
}


/* Estilos para el formulario de búsqueda */
form {
    margin-top: 20px;
    text-align: right;
}

label {
    font-weight: bold;
}

input[type="text"] {
    padding: 5px;
    margin: 0 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
