<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmls:th="http://thymeleaf.org">
    <head>
        <title>Buscar Clima</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Buscar Clima</div>
        
        <form method="get" th:action="@{/climas/buscarClima}">
            Codigo: <input type="text" name="codigo"><br />
            <input type="submit" value="Buscar">
        </form>
    </body>
</html>
