<!DOCTYPE html>
<html>
<head>
    <title>Registro de Datos Climáticos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/CSS/Registrar_Form.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <h2>Registro de Datos Climáticos</h2>
    
    <form id="formCrearClima" action="/climas/crearClima" method="get" onsubmit="return validarFormulario()">
        <label for="temperatura">Temperatura:</label>
        <input type="text" id="temperatura" name="temperatura" required oninput="validarNumeros(this)"><br>

        <label for="tipoClima">Tipo de Clima:</label>
        <input type="text" id="tipoClima" name="tipoClima" required><br>

        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" name="fecha" required><br>

        <label for="unidadC">Unidad de Centígrados:</label>
        <input type="text" id="unidadC" name="unidadC" required oninput="validarNumeros(this)"><br>

        <label for="indiceUV">Índice UV:</label>
        <input type="number" id="indiceUV" name="indiceUV" required><br>

        <label for="porcentajeHumedad">Porcentaje de Humedad:</label>
        <input type="text" id="porcentajeHumedad" name="porcentajeHumedad" required oninput="validarNumeros(this)"><br>

        <input type="submit" value="Registrar">
    </form>

    <script>
        function validarFormulario() {
            var campos = document.querySelectorAll('form#formCrearClima input, form#formCrearClima select');
            for (var i = 0; i < campos.length; i++) {
                if (!campos[i].value) {
                    alert('Por favor, llene todos los campos.');
                    return false;
                }
            }
            alert('Se registraron correctamente los datos climáticos.');
            return true;
        }

        function validarNumeros(input) {
            var valor = input.value;
            if (!/^\d*\.?\d*$/.test(valor)) {
                input.value = valor.slice(0, -1);
            }
        }
    </script>
</body>
</html>
