<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Clima</title>
</head>
<body>
    <div>Eliminar Clima</div>
    
    <form id="eliminarForm" method="get" th:action="@{/climas/eliminar}">
        <!-- Campo oculto para el identificador -->
        <input type="hidden" id="codigo" name="codigo">
        
        <!-- Etiqueta y campo para mostrar el identificador (opcional) -->
        <label for="codigoMostrado">Codigo:</label>
        <input type="text" id="codigoMostrado" readonly>
        
        <br />
        <input type="submit" value="Eliminar">
    </form>

    <!-- JavaScript para llenar el campo oculto con el identificador seleccionado -->
    <script>
        // Función para llenar el campo oculto con el identificador seleccionado
        function llenarCodigo(codigo) {
            document.getElementById("codigo").value = codigo;
            document.getElementById("codigoMostrado").value = codigo;
        }
    </script>
</body>
</html>
