<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Revista de Rutas Recomendadas</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/CSS/ADMIN_STYLES.css">
    <script text="text/javascript" th:src="@{/js/alertas.js}"></script>
    <script text="text/javascript" th:src="@{/js/listados.js}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</head>
<body>

    <h1>Lista de rutas recomendadas</h1>
    <div class="container mt-4">
        <h1>Datos de rutas</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Comentario</th>
                    <th>Dificultad</th>
                    <th>Tipo</th>
                    <th>Transporte recomendado</th>
                    <th>Lugares</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ruta : ${pagina.content}">
                    <td th:text="${ruta.id}"></td>
                    <td th:text="${ruta.comentario}"></td>
                    <td th:text="${ruta.dificultad}"></td>
                    <td th:text="${ruta.tipo}"></td>
                    <td th:text="${ruta.transporte}"></td>
                    <td th:text="${ruta.lugares}"></td>
                    <td><a th:href="@{'/rutasRecomendadas/actualizar/' + ${ruta.id}}" th:text="'Editar'"></a></td>
                    <td><a th:href="@{'/rutasRecomendadas/eliminar/' + ${ruta.id}}" th:text="'Eliminar'"></a></td>
                    <td><a class="ver-detalles" href="#" th:attr="onclick='cargarDetallesRuta(\'' + ${ruta.id} + '\')'">Ver Detalles</a></td>
                </tr>
            </tbody>
        </table>

    
    <div class="pagination-container">
        <p>
            Mostrando <span th:text="${pagina.size}"></span> de <span th:text="${pagina.totalElements}"></span> registros
        </p>
        
        <div>
            <select id="pageSize" name="size" class="form-control" onchange="cambiarPagTam()">
                <option th:each="item : ${opcionesCantidadPorPagina}" th:value="${item}"
                th:text="${item}" th:selected="${pagina.size == size}"></option>    
            </select>
        </div> 
        
        
    <ul class="pagination mb-0">
        <li class="page-item" th:classappend="${pagina.first} ? 'disabled': ''">
            <a class="page-link" th:href="@{(${id} != null) ? '/rutasRecomendadas/buscarPorCodigo?id=' + ${ruta.id} + '&page=0&size=' + ${pagina.size} : '/rutasRecomendadas/listarRutas' + '?page=0&size=' + ${pagina.size}}">Primera</a>
        </li>
        <li class="page-item" th:classappend="${pagina.first} ? 'disabled': ''">
            <a class="page-link" th:with="prevPag=${pagina.number-1}" th:href="@{(${id} != null) ? '/rutasRecomendadas/buscarPorCodigo?id=' + ${ruta.id} + '&page='+${prevPag}+'&size=' + ${pagina.size} : '/rutasRecomendadas/listarRutas' + '?page='+${prevPag}+'&size=' + ${pagina.size}}">Anterior</a>
        </li>
        <li class="page-item" th:each="i : ${numPaginas}" th:classappend="${i == pagina.number + 1} ? 'active' : ''">
            <a class="page-link" th:with="pagNum=${i-1}" th:href="@{(${id} != null) ? '/rutasRecomendadas/buscarPorCodigo?id=' + ${ruta.id} + '&page='+${pagNum}+'&size=' + ${pagina.size} : '/rutasRecomendadas/listarRutas' + '?page='+${pagNum}+'&size=' + ${pagina.size}}" th:text="${i}"></a>
        </li>
        <li class="page-item" th:classappend="${pagina.last} ? 'disabled': ''">
            <a class="page-link" th:with="sigPag=${pagina.number+1}" th:href="@{(${id} != null) ? '/rutasRecomendadas/buscarPorCodigo?id=' + ${ruta.id} + '&page='+${sigPag}+'&size=' + ${pagina.size} : '/rutasRecomendadas/listarRutas' + '?page='+${sigPag}+'&size=' + ${pagina.size}}">Siguiente</a>
        </li>
        <li class="page-item" th:classappend="${pagina.last} ? 'disabled': ''">
            <a class="page-link" th:with="ultPag=${pagina.totalPages-1}" th:href="@{(${id} != null) ? '/rutasRecomendadas/buscarPorCodigo?id=' + ${ruta.id} + '&page='+${ultPag}+'&size=' + ${pagina.size} : '/rutasRecomendadas/listarRutas' + '?page='+${ultPag}+'&size=' + ${pagina.size}}">Última</a>
        </li>
    </ul>

    <div id="verDetalles"></div>

    <div id="alert-messages" th:data-exito="${exito != null ? exito : ''}" th:data-error="${error != null ? error : ''}"></div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
        function cambiarPagTam(){
            const pageSize = document.getElementById("pageSize").value;
            const currentPage = [[${pagina.number}]];

            // Verificar si el código existe
            const codigo = "[[${codigoRuta}]]";
            let url = "";
            if (codigo.trim() !== "") {
                url = "/rutasRecomendadas/buscarPorCodigo?codigoRuta=" + codigo + "&page=" + currentPage + "&size=" + pageSize;
            } else {
                url = "?page=" + currentPage + "&size=" + pageSize;
            }

            window.location.href = url;
        }
	</script>

</body>
</html>
