<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/CSS/Registrar_Form.css" rel="stylesheet" type="text/css"/>
    <title>Modificar Colaborador</title>
</head>
<body>
    <h1>Modificar Empresa</h1>
    
    <form action="/colaboradores/modificarColaborador" method="post">
        <input type="hidden" name="ide" th:value="${colaboradorEmpresarial.ide}" />

        <label for="nombreEmpresa">Nombre de la Empresa:</label><br>
        <input type="text" id="nombreEmpresa" name="nombreEmpresa" th:value="${colaboradorEmpresarial.nombreEmpresa}" required><br><br>

        <label for="descripcionEmpresa">Descripción de la Empresa:</label><br>
        <input type="text" id="descripcionEmpresa" name="descripcionEmpresa" th:value="${colaboradorEmpresarial.descripcionEmpresa}" required><br><br>

        <label for="direccionEmpresa">Dirección de la Empresa:</label><br>
        <input type="text" id="direccionEmpresa" name="direccionEmpresa" th:value="${colaboradorEmpresarial.direccionEmpresa}" required><br><br>

        <label for="telefonoEmpresa">Teléfono de la Empresa:</label><br>
        <input type="text" id="telefonoEmpresa" name="telefonoEmpresa" th:value="${colaboradorEmpresarial.telefonoEmpresa}" required><br><br>

        <label for="sitioWeb">Sitio Web:</label><br>
        <input type="text" id="sitioWeb" name="sitioWeb" th:value="${colaboradorEmpresarial.sitioWeb}" required><br><br>

        <label for="estadoAprobacion">Estado de Aprobación:</label><br>
        <input type="text" id="estadoAprobacion" name="estadoAprobacion" th:value="${colaboradorEmpresarial.estadoAprobacion}" required><br><br>

        <label for="tipoColaborador">Tipo de Colaborador:</label><br>
        <input type="text" id="tipoColaborador" name="tipoColaborador" th:value="${colaboradorEmpresarial.tipoColaborador}" required><br><br>

        <label for="redesSociales">Redes Sociales:</label><br>
        <input type="text" id="redesSociales" name="redesSociales" th:value="${colaboradorEmpresarial.redesSociales}" required><br><br>

        <input type="submit" value="Guardar cambios">
    </form>

    <script>
    </script>
</body>
</html>
