<html xmls:th="http://thymeleaf.org">
    <head>
        <title>Módulo Lugar</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/CSS/listar.css"> 
    </head>
    <body>
        <div class="encabezado">   
            <h3 class="catalogo-titulo">CATÁLOGO DE LUGARES</h3>
        </div>
        <div class="buscador"> 
                <form method="get" th:action="@{/lugares/consulta_buscar}" enctype="multipart/form-data">
                    <input type="text" name="nombre" placeholder="Ingrese el nombre del lugar" required>
                    <input type="submit" value="Buscar">
                </form>
            </div>
        <div>
            <ul class="catalogo">
                <li th:each="lugar:${pagina.content}" class="lugar">
                    
                    <img th:src="@{'/imagenes/' + ${lugar.imagen}}" th:alt="${lugar.imagen}">
                    <div class="categoria-container">
                        <p><span th:text="${lugar.categoria}" id="categoria"></span><a th:href="@{/lugares/consulta_individual(codigo=${lugar.id})}">Ver más info</a></p>
                        
                    </div>
                    <div class="info"> 
                        <h4 th:text="${lugar.nombre}"></h4>
                        <p><span th:text="${lugar.descripcion}"></span></p>    
                        </div>
                </li>
            </ul>
        </div>
        <div class="pagination-container">
            <p>
                Mostrando <span th:text="${pagina.size}"></span> de <span th:text="${pagina.totalElements}"></span> registros
            </p>
            <nav aria-label="Page navigation" class="d-flex justify-content-between"> 
                <div class="pagination-select">
                    <select id="pageSize" name="size" class="form-control" onchange="cambiarPagTam()">
                        <option th:each="item : ${opcionesCantidadPorPagina}" th:value="${item}"
                        th:text="${item}" th:selected="${pagina.size == size}"></option>    
                    </select>
                </div>
                <ul class="pagination mb-0">
                    <!-- Enlace "Primera" -->
                    <li class="page-item" th:classappend="${pagina.first} ? 'disabled': ''">
                        <a class="page-link" th:href="@{(${nombre} != null) ? '/lugares/consulta_buscar?nombre=' + ${nombre} + '&page=0&size=' + ${pagina.size} : '?page=0&size=' + ${pagina.size}}">Primera</a>
                    </li>

                    <!-- Enlace "Anterior" -->
                    <li class="page-item" th:classappend="${pagina.first} ? 'disabled': ''">
                        <a class="page-link" th:with="prevPag=${pagina.number-1}"
                           th:href="@{(${nombre} != null) ? '/lugares/consulta_buscar?nombre=' + ${nombre} + '&page=' + ${prevPag} + '&size=' + ${pagina.size} : '?page=' + ${prevPag} + '&size=' + ${pagina.size}}">Anterior</a>
                    </li>

                    <!-- Enlaces de números de página -->
                    <li class="page-item" th:each="i : ${numPaginas}" 
                        th:classappend="${i == pagina.number + 1} ? 'active' : ''">
                        <a class="page-link" th:with="pagNum=${i-1}"
                            th:href="@{(${nombre} != null) ? '/lugares/consulta_buscar?nombre=' + ${nombre} + '&page=' + ${pagNum} + '&size=' + ${pagina.size} : '?page=' + ${pagNum} + '&size=' + ${pagina.size}}" th:text="${i}"></a>
                    </li>

                    <!-- Enlace "Siguiente" -->
                    <li class="page-item" th:classappend="${pagina.last} ? 'disabled': ''">
                        <a class="page-link" th:with="sigPag=${pagina.number+1}"
                           th:href="@{(${nombre} != null) ? '/lugares/consulta_buscar?nombre=' + ${nombre} + '&page=' + ${sigPag} + '&size=' + ${pagina.size} : '?page=' + ${sigPag} + '&size=' + ${pagina.size}}">Siguiente</a>
                    </li>

                    <!-- Enlace "Última" -->
                    <li class="page-item" th:classappend="${pagina.last} ? 'disabled': ''">
                        <a class="page-link" th:with="ultPag=${pagina.totalPages-1}"
                           th:href="@{(${nombre} != null) ? '/lugares/consulta_buscar?nombre=' + ${nombre} + '&page=' + ${ultPag} + '&size=' + ${pagina.size} : '?page=' + ${ultPag} + '&size=' + ${pagina.size}}">Última</a>
                    </li>
                </ul>
            </nav>
        </div>
        
        <script>
            function cambiarPagTam(){
                const pageSize = document.getElementById("pageSize").value;
                const currentPage = [[${pagina.number}]];

                // Verificar si el nombre existe
                const nombre = "[[${nombre}]]";
                let url = "";
                if (nombre.trim() !== "") {
                    url = "/lugares/consulta_buscar?nombre=" + nombre + "&page=" + currentPage + "&size=" + pageSize;
                } else {
                    url = "?page=" + currentPage + "&size=" + pageSize;
                }

                window.location.href = url;
            }
      </script>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@bootstrap@4.5.2/dist/js/bootstrap.min.js"> </script>
</html>